<nav class="nav">
  <div>
    <h1>Daniel Munoz</h1>
  </div>
  <div>
    {% include svg/responsive-menu.svg %}
  </div>
</nav>

<nav class="responsive-nav">
  <ul class="responsive-nav__ul">
    <li class="responsive-nav__li"><a class="responsive-nav__a" href="#home">Home</a></li>
    <li class="responsive-nav__li"><a class="responsive-nav__a" href="#about">About</a></li>
    <li class="responsive-nav__li"><a class="responsive-nav__a" href="#work">Work</a></li>
    <li class="responsive-nav__li"><a class="responsive-nav__a" href="#support">Support</a></li>
  </ul>
</nav>
