<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Daniel Munoz · {{ page.title-after }}</title>
    <!-- custom css -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    <!-- fontawesome cdn -->
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" defer></script>
    <!-- custom js -->
    <script src="{{ site.baseurl }}/js/main.js" defer></script>
  </head>
  <body>
    <div class="container">
      {{ content }}
    </div>
  </body>
</html>
